#need_help p {
  font-size: 150%;
}

.align_left {
  text-align: left;
}

.section_title h1 {
  color: green;
}

.section_title {
  color: gray;
  text-align: left;
}

.h1_to_h2 h1 {
  font-size: 1.5em;
}

.smaller2_h1 h1 {
  font-size: 1.17em;
}

.smaller_h2 h2 {
  font-size: 1.17em;
}

.hide_h1 h1 {
  display: none;
}
